<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <H2>Rahmane BAH</H2>
      <H4>rahmanebah93@gmail.com</H4>
    </div>
    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQErieRwefCNsQ/profile-displayphoto-shrink_200_200/0?e=1597881600&v=beta&t=F3z6lqr0GO6T9UxIWb454exLc3OSPI-xjXugPOLdKiQ" alt="">
  </div>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard"><mat-icon>dashboard</mat-icon>Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/manage-personnel"><mat-icon>people</mat-icon>Gestion du personnel</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/manage-students"><mat-icon>assignment_ind</mat-icon>Gestion des élèves</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/manage-mark"><mat-icon>post_add</mat-icon>Gestion des notes</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/manage-caisse"><mat-icon>money</mat-icon>Gestion de la caisse</a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin"> <mat-icon>admin_panel_settings</mat-icon>Admin privilèges</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/manage-classes-matieres"><mat-icon>grading</mat-icon>Classes et Matières</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/manage-cours"><mat-icon>calendar_today</mat-icon>Planification des cours</a>
</mat-nav-list>
